In [2]:
#import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style='whitegrid')
import pickle

In [3]:
test = pd.read_csv('C:\\Users\\visha\\Desktop\\DATA SCIENCE PROJECTS\\vehicle insurance dataset\\data\\test.csv')
test

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage
0,381110,Male,25,1,11.0,1,< 1 Year,No,35786.0,152.0,53
1,381111,Male,40,1,28.0,0,1-2 Year,Yes,33762.0,7.0,111
2,381112,Male,47,1,28.0,0,1-2 Year,Yes,40050.0,124.0,199
3,381113,Male,24,1,27.0,1,< 1 Year,Yes,37356.0,152.0,187
4,381114,Male,27,1,28.0,1,< 1 Year,No,59097.0,152.0,297
...,...,...,...,...,...,...,...,...,...,...,...
127032,508142,Female,26,1,37.0,1,< 1 Year,No,30867.0,152.0,56
127033,508143,Female,38,1,28.0,0,1-2 Year,Yes,28700.0,122.0,165
127034,508144,Male,21,1,46.0,1,< 1 Year,No,29802.0,152.0,74
127035,508145,Male,71,1,28.0,1,1-2 Year,No,62875.0,26.0,265
127036,508146,Male,41,1,29.0,1,1-2 Year,No,27927.0,124.0,231

In [4]:
test.isnull().sum()

id                      0
Gender                  0
Age                     0
Driving_License         0
Region_Code             0
Previously_Insured      0
Vehicle_Age             0
Vehicle_Damage          0
Annual_Premium          0
Policy_Sales_Channel    0
Vintage                 0
dtype: int64

In [5]:
test.columns

Index(['id', 'Gender', 'Age', 'Driving_License', 'Region_Code',
       'Previously_Insured', 'Vehicle_Age', 'Vehicle_Damage', 'Annual_Premium',
       'Policy_Sales_Channel', 'Vintage'],
      dtype='object')

In [8]:
print(test['Gender'].unique())
print(test['Vehicle_Damage'].unique())

['Male' 'Female']
['No' 'Yes']

#### test dataset converting as train dataset:

In [9]:
test['Gender'] = test['Gender'].map( {'Female': 0, 'Male': 1} ).astype(int)
test['Vehicle_Damage'] = test['Vehicle_Damage'].map( {'Yes': 1, 'No': 0} ).astype(int)
test=test.rename(columns={"Vehicle_Damage": "Vehicle_Damage_Yes"})

In [10]:
test=pd.get_dummies(test)
test

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Damage_Yes,Annual_Premium,Policy_Sales_Channel,Vintage,Vehicle_Age_1-2 Year,Vehicle_Age_< 1 Year,Vehicle_Age_> 2 Years
0,381110,1,25,1,11.0,1,0,35786.0,152.0,53,0,1,0
1,381111,1,40,1,28.0,0,1,33762.0,7.0,111,1,0,0
2,381112,1,47,1,28.0,0,1,40050.0,124.0,199,1,0,0
3,381113,1,24,1,27.0,1,1,37356.0,152.0,187,0,1,0
4,381114,1,27,1,28.0,1,0,59097.0,152.0,297,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
127032,508142,0,26,1,37.0,1,0,30867.0,152.0,56,0,1,0
127033,508143,0,38,1,28.0,0,1,28700.0,122.0,165,1,0,0
127034,508144,1,21,1,46.0,1,0,29802.0,152.0,74,0,1,0
127035,508145,1,71,1,28.0,1,0,62875.0,26.0,265,1,0,0
127036,508146,1,41,1,29.0,1,0,27927.0,124.0,231,1,0,0

In [11]:
test = test.rename(columns={"Vehicle_Age_< 1 Year": "Vehicle_Age_lt_1_Year",
                            "Vehicle_Age_> 2 Years": "Vehicle_Age_gt_2_Years"})

In [12]:
test = test.rename(columns={"Vehicle_Age_1-2 Year": "Vehicle_Age_1_2_Years"})

In [13]:
test.drop(labels=['id'],axis=1,inplace=True)

#### Evaluating Response predictions of test file using RandomForestClassifier Model saved file:

In [16]:
RFC_EvaluateFile = pickle.load(open('model_RFC.pkl','rb'))

In [17]:
Response_Pred = RFC_EvaluateFile.predict(test)
Response_Pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [18]:
test['Response_Pred']=Response_Pred

In [19]:
test.Response_Pred.value_counts()

0    127020
1        17
Name: Response_Pred, dtype: int64

In [20]:
test.to_csv('RFC_testFile.csv')

In [21]:
test.drop(labels=['Response_Pred'],axis=1,inplace=True)

#### Evaluating Response predictions of test file using Logistic Regression Model savedfile:

In [23]:
LR_EvaluateFile = pickle.load(open('model_LR.pkl','rb'))
LR_EvaluateFile

RandomForestClassifier()

In [25]:
Response_Predictions = LR_EvaluateFile.predict(test)

In [26]:
Response_Predictions

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [31]:
test['Response_predicted']=Response_Predictions

In [32]:
test.Response_predicted.value_counts()

0    127020
1        17
Name: Response_predicted, dtype: int64

In [33]:
test.to_csv('LR_testFile.csv')

In [34]:
test.drop(labels=['Response_predicted'],axis=1,inplace=True)